@charset "utf-8";
@import "common/_reset";
$color:#00b7ee;
//.my_hover:hover{
//  color: $color !important;
//}
.web {
    width: 1000px;
    margin: 0 auto;
    //  头部
    .header {
        border-top: 24px solid $color;
        .logo_box {
            margin-left: 73px;
            margin-top: 38px;
        }
        .nav_box {
            margin-left: 56px;
            margin-top: 77px;
            ul li {
                margin-left: 14px;
                position: relative;
                a {
                    font-size: 14px;
                    color: #000000;
                    &:hover {
                        color: $color;
                    }
                    &.active {
                        color: $color;
                    }
                   
                    &:hover+.line {
                        display: block;
                    }
                }
                .line {
                    width: 14px;
                    height: 1px;
                    background-color: #828282;
                    position: absolute;
                    left: 50%;
                    bottom: -3px;
                    margin-left: -7px;
                    display: none;
                }
            }
        }
        .search_box {
            margin-left: 49px;
            margin-top: 69px;
            width: 214px;
            height: 28px;
            border: 1px solid #000000;
            form {
                width: 100%;
                height: 100%;
                input {
                    vertical-align: middle;
                }
                input[type='text'] {
                    width: 166px;
                    height: 24px;
                    line-height: 28px;
                    padding: 0 4px;
                    border: none;
                }
            }
        }
    }
    .kv {
        height: 400px;
        background: url(../images/head.jpg);
        font-size: 32px;
        font-weight: bold;
        color: #395571;
        position: relative;
        .word1 {
            position: absolute;
            left: 282px;
            top: 82px;
        }
        .word2 {
            position: absolute;
            left: 428px;
            top: 134px;
        }
        .word3 {
            position: absolute;
            right: 270px;
            top: 162px;
        }
    }
    .footer {
        margin-top: 28px;
        border-top: 1px solid #eaedf0;
        padding-top: 44px;
        .footer_top {
            width: 902px;
            margin: 0 auto;
            .footer_nav {
                width: 623px;
                .footer_nav_detail {
                    width: 113px;
                    margin-right: 42px;
                    overflow: hidden;
                    dl {
                        dt {
                            margin-bottom: 27px;
                            a {
                                font-size: 16px;
                                font-weight: bold;
                                color: #000000;
                                &:hover {
                                    color: $color;
                                }
                            }
                        }
                        dd a {
                            font-size: 12px;
                            color: #000000;
                            line-height: 23px;
                            &:hover {
                                color: $color;
                            }
                        }
                    }
                }
            }
        }
        .footer_bottom {
            margin-top: 13px;
            font-size: 12px;
            color: #000000;
            text-align: center;
            background-color: #6dbfff;
            padding-top: 43px;
            padding-bottom: 13px;
        }
    }
}