@charset "utf-8";
.web {
//  .kv {
//      height: 400px;
//      background: url(../images/head.jpg);
//      font-size: 32px;
//      font-weight: bold;
//      color: #395571;
//      position: relative;
//      .word1 {
//          position: absolute;
//          left: 282px;
//          top: 82px;
//      }
//      .word2 {
//          position: absolute;
//          left: 428px;
//          top: 134px;
//      }
//      .word3 {
//          position: absolute;
//          right: 270px;
//          top: 162px;
//      }
//  }
    .about {
        border: 1px solid #6db6ff;
        margin-top: 26px;
        width: 145px;
        height: 36px;
        margin-left: auto;
        margin-right: auto;
        .abus1 {
            width: 102px;
            text-align: center;
            font-size: 24px;
            background-color: white;
            margin-left: auto;
            margin-right: auto;
            margin-top: -16px;
        }
        .abus2 {
            width: 140px;
            height: 12px;
            text-align: center;
            font-size: 16px;
        }
    }
    .about_info {
        margin-top: 21px;
        margin-left: 31px;
        .same1 {
            padding-top: 18px;
            background: #f2f2f2;
            text-align: center;
            margin-left: 20px;
            padding-left: 25px;
            padding-right: 25px;
            .text1 {
                font-size: 16px;
                font-weight: bold;
            }
            .text2 {
                font-size: 16px;
                font-weight: bold;
                font-family: arial;
            }
            .text3 {
                font-size: 12px;
                font-weight: bold;
                color: #838383;
                line-height: 25px;
            }
        }
        .mission {
            width: 267px;
            height: 317px;
        }
        .team {
            width: 321px;
            height: 317px;
        }
        .vision {
            width: 270px;
            height: 317px;
        }
    }
    .case {
        border: 1px solid #6db6ff;
        margin-top: 26px;
        width: 145px;
        height: 36px;
        margin-left: auto;
        margin-right: auto;
        .case1 {
            width: 102px;
            text-align: center;
            font-size: 24px;
            background-color: white;
            margin-left: auto;
            margin-right: auto;
            margin-top: -16px;
        }
        .case2 {
            width: 140px;
            height: 12px;
            text-align: center;
            font-size: 16px;
        }
    }
    .case_info {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        text-align: center;
        .case_photo {
            margin-left: 44px;
            margin-top: 22px;
            .case_size {
                margin-left: 7px;
                .case_size_1 {
                    margin-bottom: 15px;
                }
                .case_size_2 {
                    margin-bottom: 18px;
                    font-size: 12px;
                    letter-spacing: 3px;
                }
                .click {
                    width: 135px;
                    height: 27px;
                    background-color: #6DB6FF;
                    margin-left: auto;
                    margin-right: auto;
                    a {
                        font-size: 16px;
                        font-weight: bold;
                        color: white;
                        line-height: 27px;
                    }
                }
            }
        }
    }
    .link {
        margin-top: 50px;
        width: 900px;
        height: 305px;
        margin-left: auto;
        margin-right: auto;
        background: url(../images/link.jpg);
        .coverlink {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .5);
            padding-top: 33px;
            text-align: center;
            position: relative;
            .AOL {
                border: 1px solid #6db6ff;
                width: 145px;
                height: 36px;
                margin-left: auto;
                margin-right: auto;
                color: white;
                .AOL1 {
                    width: 102px;
                    text-align: center;
                    font-size: 24px;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: -16px;
                }
                .AOL2 {
                    width: 140px;
                    height: 12px;
                    text-align: center;
                    font-size: 16px;
                }
            }
            .link1 {
                position: absolute;
                top: 116px;
                left: 7px;
            }
            .link2 {
                position: absolute;
                top: 112px;
                left: 79px;
            }
            .link3 {
                position: absolute;
                top: 112px;
                left: 323px;
            }
            .link4 {
                position: absolute;
                top: 112px;
                left: 589px;
            }
            .link5 {
                position: absolute;
                top: 116px;
                left: 852px;
            }
        }
    }
}